[Unit]
Description=MySensors Serial Gateway to MQTT daemon
Requires=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/serial2mqtt.py --device /dev/ttyACM1

[Install]
WantedBy=multi-user.target
